{
  "extends": "react-app",
  "plugins": ["prettier"],
  "env": {
    "jest": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "react/prefer-stateless-function": "off",
    "semi": ["warn", "never"],
    "global-require": "off",
    "arrow-parens": "off",
    "arrow-body-style": "off",
    "comma-dangle": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "newline-per-chained-call": [
      "error",
      {
        "ignoreChainWithDepth": 2
      }
    ],
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ],
    "prefer-destructuring": [
      "off",
      {
        "array": true,
        "object": true
      },
      {
        "enforceForRenamedProperties": false
      }
    ]
  }
}
